.filelist {
    overflow-y: auto;
    max-width: 100%;
}

.filelist-inner {
    margin: 0 0 0 20px;
}

.filelist-inner > div {
    margin: 10px;
    padding: 10px;
    transition: filter ease 0.2s;
}

.filelist-inner > div p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.filelist-inner:hover > div:not(:hover),
.filelist-inner.highlight-mode > :not(.highlight) {
    filter: brightness(50%);
}