* {
    padding: 0;
    margin: 0;
    color: #ccc;
}

html, body {
    background-color: #222;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    row-gap: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

body.grabbing {
    cursor: grabbing !important;
}

h1 {
    font-size: 4em;
    margin: 40px;
}

b {
    display: block;
    padding: 10px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #44c;
    box-shadow: #111 2px 2px 10px -2px;
    width: auto;
    padding: 10px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: min(800px, 50%);
    max-width: 80%;
}

.button:hover:not(.disabled) {
    background-color: #4a4ad4;
}

.button.disabled {
    filter: grayscale(1) brightness(0.6);
    cursor: not-allowed;
}

.main-title {
    grid-column: span 2;
}

.timeline-outer {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.target-selector {
    grid-column: span 2;
}

.timeline1d {
    grid-column: span 2;
    width: 100%;
    height: auto;
    margin: 0;
}

.controls {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    width: 100%;
}

.filelist {
    grid-row: 3 / 4;
    height: 100%;
}

.select-box {
    background-color: #282828;
    border-radius: 5px;
    box-shadow: #111 2px 2px 10px -2px;
    cursor: pointer;
    border: 2px solid #252525;
    user-select: none;
}

.select-box.selected {
    border: 2px solid #080;
}

.select-box:hover {
    background-color: #333;
}

.hide {
    display: none !important;
}
