.target-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
}

.target-selector > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 40px;
    margin: 20px;
    transition: filter ease 0.2s;
}

.target-selector:hover > div:not(:hover),
.target-selector.highlight-mode > :not(.highlight) {
    filter: brightness(50%);
}

.target-selector > div > p {
    font-size: 1.8em;
    font-weight: bold;
    padding: 10px;
    width: auto;
    text-align: center;
}
