.timeline-outer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    width: 100%;
}

.timeline-outer > h4 {
    grid-column: 2;
    text-align: center;
}

.timeline {
    overflow-x: clip;
    overflow-y: visible;
}

.timeline-inner {
    display: flex;
    height: 100%;
    border: 0px solid #fff;
    border-width: 0px 0px 2px 2px;
    overflow: hidden;
}

.timeline-graph {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0 5px;
    overflow: visible;

    /* For smooth graph jump up */
    transition: height cubic-bezier(.17,.84,.44,1) 0.8s;
    /* height: 0%; */
}

.timeline-bar {
    display: flex;
    flex-direction: column;
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 0 5px;
    overflow: visible;
    transition: height cubic-bezier(.17,.84,.44,1) 0.8s,
    filter cubic-bezier(.17,.84,.44,1) 0.8s,
    max-width cubic-bezier(.17,.84,.44,1) 0.8s,
    min-width cubic-bezier(.17,.84,.44,1) 0.8s,
    margin cubic-bezier(.17,.84,.44,1) 0.8s;
}

.timeline-bar.hidden {
    min-width: 0px;
    max-width: 0px;
    margin: 0px;
}

.timeline-bar-total-added {
    background-color: #464;
}
.timeline-bar-total-added::before {
    content: attr(data-count);
}

.timeline-bar-target-added {
    background-color: #4c4;
}
.timeline-bar-target-added::before {
    content: attr(data-count);
    color: #222;
}

.timeline-bar-target-removed {
    background-color: #c44;
}
.timeline-bar-target-removed::before {
    content: attr(data-count);
    color: #222;
}

.timeline-bar-total-removed {
    background-color: #644;
}
.timeline-bar-total-removed::before {
    content: attr(data-count);
}

.timeline-bar > div {
    overflow: hidden;
    transition: flex cubic-bezier(.17,.84,.44,1) 0.8s;
}

.timeline-bar-realsize {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.timeline-bar-realsize > div {
    overflow: hidden;
    transition: flex cubic-bezier(.17,.84,.44,1) 0.8s;
}

.timeline-bar-realsize > div::before {
    position: relative;
    height: 0;
    left: 0;
    display: none;
    top: 50%;
}

.timeline-bar-realsize:hover > div::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: bold;
}

.highlight-mode .timeline-bar:not(.highlight) {
    filter: grayscale(1) brightness(50%);
}

.timeline-bar-realsize:hover {
    z-index: 10;
    border: 2px solid #fff;
}

.timeline-scale {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline-scale-y {
    padding: 0 5px;
    flex-direction: column;
    align-items: flex-end;
}