.timeline1d-inner {
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.timeline1d-scroller-container {
    display: flex;
    /* align-content: space-between; */
    width: 100%;
    height: 20px;
    z-index: 1000;
}

.timeline1d-scroller-container > div:not(.timeline1d-scroller) {
    background-color: #000c;
    z-index: 1000;
}

.timeline1d-scroller {
    height: 20px;
    background-color: #ffffff2d;
    border-radius: 5px;
    margin-right: auto;
    z-index: 1000;
}

body:not(.grabbing) .timeline1d-scroller {
    cursor: grab;
}



.timeline1d-dots-outer {
    display: flex;
    align-items: center;
    margin: 0 10px;
    margin-bottom: -20px;
    height: 20px;
}

.timeline1d-dots {
    flex: 1;
    height: 0;
    overflow-y: visible;
    margin: 0 10px;
}

.timeline1d-dots > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 0;
    overflow: visible;
}

.timeline1d-dots > div > div {
    border: 0px solid rgba(0, 255, 255, 0.822);
    border-radius: 20px;
    height: 0;
    width: 0;
    overflow-y: visible;
    transition: filter cubic-bezier(.17,.84,.44,1) 0.8s;
}

.timeline1d-dots.highlight-mode > div:not(.highlight) > div {
    filter: grayscale(1) brightness(0.4);
}